<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Drogueria_proyecto.Properties.Settings.DROGUERIAConnectionString"
            connectionString="Data Source=DESKTOP-ELI44OA\SQLEXPRESS;Initial Catalog=DROGUERIA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Drogueria_proyecto.Properties.Settings.DROGUERIAConnectionString1"
            connectionString="Data Source=LAPTOP-1RIOJPPC\SQLEXPRESS;Initial Catalog=DROGUERIA;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Drogueria_proyecto.Properties.Settings.DROGUERIAConnectionString2"
            connectionString="Data Source=localhost;Initial Catalog=DROGUERIA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Drogueria_proyecto.Properties.Settings.DROGUERIAConnectionString3"
            connectionString="Data Source=.;Initial Catalog=DROGUERIA;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>